body {
    background: url(../assets/wallpaper4.png) no-repeat;
    background-size: cover;
    margin:0 auto !important;
}
#jumboStyle {
    background: url(../assets/me5.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
}
#jumboStyleText{
    
    color:var(--black);
    text-align: left;
    font-family: var(--font-one);
    font-size: 1.5em;
    padding-top: 70px;
    margin-left: 235px;
    
} 

#jumboStyleText2{
    
    color: black;
    text-align: right;
    font-family: var(--font-one);
    font-size: 2.5em;
    
    padding-top: 30px;
    
} 
